appdirs
apturl
args
asttokens
async-generator
attrs
backcall
bcrypt
beautifulsoup4
black
blinker
brlapi
brotli
bs4
certifi
cffi
chardet
click
clint
colorama
colorthief
comm
command-not-found
cryptography
cssselect
cssselect2
cupshelpers
dbus-python
debugpy
decorator
deepl
defer
distro
distro-info
dlib
duplicity
et-xmlfile
exceptiongroup
executing
face-recognition
face-recognition-models
fake-useragent
fasteners
fonttools
fpdf
future
gpg
gyp
h11
html5lib
httplib2
idna
importlib-metadata
ipykernel
ipython
jedi
jeepney
jupyter-client
jupyter-core
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libcomps
lockfile
louis
lxml
macaroonbakery
mako
markupsafe
matplotlib-inline
monotonic
more-itertools
mypy-extensions
nest-asyncio
netifaces
numpy
oauthlib
olefile
opencv-python
openpyxl
outcome
packaging
pandas
paramiko
parse
parso
pathspec
pexpect
phue
pickleshare
pillow
pip
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycairo
pycparser
pycups
pydyf
pyee
pygments
pygobject
pyjwt
pymacaroons
pynacl
pyparsing
pyphen
pyppeteer
pyqt5
pyqt5-sip
pyquery
pyrfc3339
pysocks
python-apt
python-dateutil
python-debian
python-dotenv
pytz
pyxdg
pyyaml
pyzmq
reportlab
requests
requests-html
rpm
secretstorage
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
spry
ssh-import-id
stack-data
systemd-python
termcolor
tinycss2
tomli
torbrowser-launcher
tornado
tqdm
traitlets
trio
trio-websocket
tzdata
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
vboxapi
w3lib
wadllib
wcwidth
weasyprint
webdriver-manager
webencodings
websockets
wheel
wsproto
xdg
xkit
zipp
zopfli
